---
import Layout from '../../layouts/Layout.astro';
const url = import.meta.env.PUBLIC_API_URL;
let serverConfig = {url: url};
serverConfig = JSON.stringify(serverConfig);
console.log(serverConfig);

---

<Layout title="Welcome to Astro.">
    <main class="container">
        <input type="hidden" id="server_config" value={serverConfig}></input>
        <h1>Gpt3-React</h1>

        <a href={`/gpt3/create`} class="btn btn-primary">Create</a>
		<hr class="my-1" />
        <div id="root"></div>		
        <hr />
    </main>
</Layout>
<!-- -->
<style>
</style>
<!-- JS -->
<script is:inline data-type="module" src="/js/Test.js"></script>
<script is:inline data-type="module" src="/js/lib/todo/Crud.js"></script>
<script is:inline data-type="module" src="/js/lib/Common.js"></script>
<script is:inline type="text/babel" data-type="module" src="/js/components/Child.js"></script>
<script is:inline type="text/babel" data-type="module">
const prmServer = Common.getServerConfig();
console.log(prmServer);
const useState = React.useState;
const useEffect = React.useEffect;
//
const App = () => {
    const [items, setItems] = useState([])
    //
    useEffect(async() => {
        const testItems = await Crud.getList(prmServer);
        setItems(testItems);
        console.log(testItems);
    }, []); 
    //
    const search = async function () {
        const testItems = await Crud.search(prmServer);
console.log(testItems);
        setItems(testItems);
    } 
    //
    return (
    <div>
        <div class="col-md-12 pt-2">
            keyword :
            <span class="search_key_wrap">
                <input type="text" size="24" class="mx-2 " name="searchKey" id="searchKey"
                defaultValue={''} placeholder="Title search Key"></input>
            </span>
            <button class="btn btn-sm btn-outline-primary" id="search_btn"
            onClick={() => search()}>Search
            </button>
        </div>
        <hr class="my-1" />
        {items.map((item, index) => {
            return (
            <div key={item.id}>
                <h3>{item.title}</h3>
                ID: {item.id}
                <span class="mx-2">
                    <a href={`/gpt3/show/${item.id}`} class="btn btn-sm btn-outline-primary"
                    >Show</a>
                </span>
                <hr class="my-2" />
            </div>
            )
        })}             
    </div>
    )
}
const container = document.getElementById("root");
const root = ReactDOM.createRoot(container);
root.render(<App />);
</script>
<!--
 -->
