---
import Layout from '../../../layouts/Layout.astro';
import CrudShow from '../CrudShow';
//
const { id } = Astro.params;
console.log(id);
let item: any = await CrudShow.get(Number(id));
console.log(item);
//
const url = import.meta.env.PUBLIC_API_URL;
let serverConfig = {url: url};
serverConfig = JSON.stringify(serverConfig);
console.log(serverConfig);
---

<!-- -->
<style>
</style>

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
    <div class="container">
        <input type="hidden" value={id} id="item_id" />
        <a class="btn btn-outline-primary" href={`/gpt3`}>Back</a>
        <hr />		
        <h1>Show</h1>
        <hr />
        <p>Id:{id}</p>
        <hr class="my-2" />	
        <div id="root"></div>		
        <hr />
        <button id="btn_delete" class="btn btn-danger">Delete</button>
        <hr />
    </div>
    <input type="hidden" id="server_config" value={serverConfig} />
</Layout>
<!-- -->
<script src="../CrudShow.ts"></script>
<!-- JS -->
<script is:inline data-type="module" src="/js/lib/gpt3/Crud.js"></script>
<script is:inline data-type="module" src="/js/lib/Common.js"></script>
<script is:inline type="text/babel" data-type="module">
const prmServer = Common.getServerConfig();
console.log(prmServer);
const useState = React.useState;
const useEffect = React.useEffect;
//
const elm = document.querySelector('#item_id');
const id = elm.value;
const App = () => {
    const [title, setTitle] = useState("");
    const [content, setContent] = useState("");
    const [completed, setCompleted] = useState(0);
    //
    useEffect(async() => {
        let item = await Crud.get(prmServer, Number(id));
        setTitle(item.title);
        setContent(item.content);
        setCompleted(item.completed);
//        console.log(item);
    }, []);   
    //
    return (
    <div>
        {/* <h2>Todo Detail</h2> */}
        <p>Title: {title}</p>
        <p>Content: {content}</p>
        <p>Completed: {completed ? "Yes" : "No"}</p>
    </div>
    );
};
const container = document.getElementById("root");
const root = ReactDOM.createRoot(container);
root.render(<App />);
</script>
<!--
 -->